.lp {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.lp video {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Send video to background */
}

.content {
  position: absolute;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.683);
  z-index: 2; /* Ensure it's above the video */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-top: 250px;
  padding-bottom: 300px;
  padding-left: 50px;
  padding-right: 50px;
  backdrop-filter: blur(1px);

}

.search
{
  border-radius: 20px;

  background-color: rgba(0, 0, 0, 0.703);
}

.logo {
  width: 15px;
}

.name {
  font-size: 3rem;
  margin: 0px;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.input {
  background-color: rgba(255, 255, 255, 0.701);
  border: dashed 0px rgba(255, 255, 255, 0.525);
  width: 350px;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 5px;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  justify-content: left;
  text-align: left;
  backdrop-filter: blur(20px);

}

button {
  position: relative;
  margin-top: 15px;
  padding: 10px 20px;
  margin-left: 59px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.064);
  color: rgb(165, 165, 165);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(20px);
  margin-left: 1px;
}
.dropdown-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dropdown-menu {
  scrollbar-width: none; /* Firefox */
}

button:hover {
  background-color: white;
  color: black;
}


.loading-spinner {
  width: 40px;
  height: 40px;
  margin-right: 50vw;
  margin-left: 45vw;
  margin-bottom: 50vw;

  border: 4px solid rgba(255, 255, 255, 0.3); /* Transparent White */
  border-top: 4px solid white; /* Pure White */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.socials
{
  position: absolute;
  top:0px;
  right:15px;
  padding: 0px;
  margin: 0px;
}

.soc-button
{
  margin: 0px;
  font-size: 32px;
  top:5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  backdrop-filter: blur(20px);

}

.dropdown-menu {
  position: absolute;
  width: 80%;
  max-height: 200px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.334);
  list-style: none;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(20px);
  margin-top: 70px;

  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu li img {
  margin-right: 10px;
  border-radius: 4px;
}

.dropdown-menu li:hover {
  background: #000000;
}

.search-container
{

display: flex;
flex-direction: row;
width: 80%;
height: 25%;
margin: top 10px;
}

.homepage {
position: relative;
display: flex;
flex-direction: column; /* optional, depends on your layout */
width: 100vw;
height: 100vh;
border: 1px solid rgb(183, 255, 0);
overflow: hidden; /* optional, prevents scrollbars */
background-color: rgb(19, 19, 19);
}

.header {
position: relative;
display: flex;
flex-direction: row; 
width: 100vw;
height: 5vw;
border: 1px solid rgb(255, 0, 0);
overflow: hidden; /* optional, prevents scrollbars */
justify-content: left;
font-size: 10px;
}

.body
{
height: 25vw;

border: 1px solid rgb(255, 0, 0);
}


/* esponsive Styles for Smaller Screens */
@media (max-width: 768px) {
.content
{
  width: 89%;
  top:0px;
  margin: 0px;
  margin-top: -50px;

}

.socials
{
  margin-top: 50px;
  margin-right: 50px;

}

.fieldBox
{
  margin-right: 50px;
}

.name
{
  font-size: 35px;
  display: flex;
}

.loading-spinner 
{
  margin: 0px;
  margin-left: 35vw;
  margin-bottom: 100px;
}

.search-container
{
  margin-top: 10px;
  width: 100%;
}
}